<app-menu-bar></app-menu-bar>
<div class="container_main">
    <div class="main_card" >
        <app-main-card titulo_main={{data_recent[0].title}}
                       description_main="Salvador destaca-se como o estado mais populoso da região Nordeste do Brasil. 
                       Com uma população que supera os 3 milhões de habitantes, a cidade consolidou-se... "
                       photo_main={{data_recent[0].photo}} id={{data_recent[0].id}}>
        </app-main-card >    
    </div>
    
    <div class="recent_card" >

        <app-recent-card    *ngFor="let item_recent of data_recent.slice(1)"
          photo_recent={{item_recent.photo}}
          description_recent={{item_recent.title}}
          id={{item_recent.id}}>
        </app-recent-card>


    </div> 
</div>

<div class="tops_card_title">
    <p>Top Stories</p>
</div>


<div  class="tops_cards_container">

    <app-tops-card  *ngFor="let item of data_top"
       photo_tops_card={{item.photo}}
       title_tops_card = {{item.title}} 
       id= {{item.id}}>
    </app-tops-card>
    

</div>
