.container_contentStories{
    max-width: 1200px;
  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
   
}



.contentStories_photo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


.contentStories_photo img{
    width: 65%;
    height: auto;
    object-fit: contain;
   
}   


.contentStories_describe{
    margin-bottom: 2rem;
    font-size: 20px;
    width: 65%;
    text-align: justify;
    
}

a{
    border: none;
    background-color: aquamarine;
    border-radius: 0.4rem;
    width: 5rem;
    text-align: center;
    padding: 0.5rem;

}

