<!--<div class="container_tops_card"> -->

<!--   <div class="container_tops_card_main">  -->
        <div class="tops_card_main">
            <a [routerLink] = "['contentStories', id]"> 
            <div class="tops_card_photo">
                <img src={{photo_tops_card}} alt="">
            </div>
            
            <div class="tops_card_describe">
                <p>{{title_tops_card}}</p>
            </div>

            <div class="tops_card_statistic">
                <p> 2K Views &middot; 2 Days AGO</p>   
            </div>
            </a>

        </div>

        

 <!--  </div> -->
    

<!--</div>-->


